<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>29 Kettle Confectionery</title>
        
        <!--Scripts-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        

        <!--Styles-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
    <body>
        <div class="container">
            <!--Basic Profile-->
            <div class="row">
                <!--Header-->
                <div class="col">
                    <div style="height:100px; overflow: hidden">
                        <img    src="https://firebasestorage.googleapis.com/v0/b/kettle-team.appspot.com/o/29-KettleConfectionery1-WhiteBg.png?alt=media&token=2fa8b0f6-b424-402c-8d9f-f47cb427d601" 
                            alt=""
                            style='height: 150px; margin-top:-25px; display: block; margin-left: auto; margin-right: auto;'
                        >
                    </div>
                    <h2 class='text-center'>
                        {{title}}
                    </h2>
                    <div class="text-center">
                        <small class='text-center'>{{epcHex}}</small>
                        <br>
                        <small class="text-center">{{upc}}</small>
                    </div>
                    
                </div>
            </div>

            <!--Images-->
            <div class="row">
                <img src="{{image}}" alt="" style='width: 300px; display: block; margin-left: auto; margin-right:auto;'>
            </div>


            <!--INFORMATION CARDS-->
            <div id="accordion">
                <div class="card">

                    <!--Product Details Card-->
                    <div class="card-header" id='headingOne'>
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Product Details
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                <strong>Description: </strong>
                                {{description}}
                            </p>
                            
                            <p><strong>Location:</strong> {{location}}</p>
                            <p><strong>Instance:</strong> {{instance}}</p>
                            <p>
                                <strong>Dimensions:</strong>

                            </p>
                        </div>
                    </div>

                    <!--Components-->
                    {{#if hasComponents}}
                    <div class="card-header" id='headingTwo'>
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Components
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            This product is composed of the following elements:

                        </div>
                    </div>
                    {{/if}}

                    <!--Cleaning Instructions-->
                    {{#if isCleanable}}
                    {{/if}}

                    <!--Packing Instructions-->
                    {{#if isPackable}}
                    <div class="card-header" id='headingFour'>
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Packing/Unpacking
                            </button>
                        </h5>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            {{packingVideo}}
                            {{#if videos.hasPacking}}
                                
                            {{/if}}

                        </div>
                    </div>
                    {{/if}}

                </div>
            </div>

            
        </div>
    </body>
</html>