<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>29 Kettle Confectionery</title>
    </head>
    <body>
        <h1>29 Kettle Confectionery</h1>

        <ul>
            <li>
                <strong>UPC:</strong> {{upc}}
            </li>
            <li>
                <strong>Location:</strong> {{location}}
            </li>
            <li>
                <strong>Instance:</strong> {{instance}}
            </li>

        </ul>
    </body>
</html>